//style.scss
@import url('https://fonts.googleapis.com/css?family=Sacramento');

$ski-width: 200px;
$back-color: #F0F0F0;
$nav-height: 60px;
$linkedin-blue: #1778B5;
$resume-color: rgb(130, 130, 130);
$learned-color: #51DF93;
$ip-color: #FF9171; //#FFD340;
$not-yet-color: $resume-color; //#FF9171;
$nav-color: rgba(255, 255, 255, .8);
$purple: #DCA6FF;

//mixins
@mixin flex-box {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
}

@mixin inline-flex-box {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
}

@mixin flex-space-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
}

@mixin flex-space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

@mixin flex-justify-center {
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

@mixin flex-column {
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}

@mixin flex-justify-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
}

@mixin flex-align-center {
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
}

body {
  font-family: Georgia;
  font-size: 12pt;
  margin: 0;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 40pt;
  margin: 0;
  // color: #B94FFD;
}

//Generic classes
.flex-container {
  width: 100%;
  @include flex-box;
}

.flex {
  @include flex-box;
}

.flex-container-column {
  width: 100%;
  @include flex-box;
  @include flex-column;
}

.flex-sa-container {
  @include inline-flex-box;
  @include flex-space-around;
}

.in-flex-container {
  @include inline-flex-box;
}

//Navigation
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: $nav-height;
  background-color: rgba(255, 255, 255, .8);
  // padding: 0 15px;
  @include flex-align-center;
  @include flex-space-between;
}

#nav-home {
  color: $purple;
  height: $nav-height - 10;
  line-height: $nav-height - 10;
  width: $nav-height - 10;
  border-radius: $nav-height - 10;
  background-color: $back-color;
  font-family: 'Sacramento', cursive;
  margin: 0 15px;
  &:hover {
    background-color: $resume-color;
  }
}

.nav-btns {
  @include flex-align-center;
}

.nav-link {
  height: $nav-height;
  line-height: $nav-height;
  width: 100px;
  color: #000000;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: $resume-color;
    color: $nav-color;
  }
}

.resume {
  display: block;
  background-color: $resume-color;
  color: $nav-color;
  border-radius: 10px;
  border:  2px solid $resume-color;
  text-decoration: none;
  height: $nav-height - 10px;
  line-height: $nav-height - 10px;
  width: fit-content;
  padding: 0 25px;
  margin: 0 15px;
  &:hover {
    background-color: $nav-color;
    color: $resume-color;
    // border-color: $resume-color;
  }
}

.main-content {
  margin: $nav-height 100px 0 100px;
  background-color: $back-color;
  min-width: $ski-width;
}

// Top Picture
.top-picture {
  height: 400px;
  background-image: url('/assets/fish-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include flex-align-center;
  @include flex-justify-end;
}

// About Me
#about-me {
  margin: 0 15px;
}

.my-name {
  font-size: 60pt;
  text-align: center;
  margin: 25px 0 -25px 0;
}

.about-title {
  @include flex-justify-center;
}

.ski-photo {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: $ski-width;
}

.me-text {
  padding: 10px 0;
}

// Skills Table
#skills {
  @include flex-column;
  @include flex-align-center;
}

.skills-txt {
  display: inline-block;
  margin-bottom: 25px;
}

.tables {
  border: 1px solid black;
  @include flex-justify-center;
}

.skills-table {
  margin: 0 25px;
  @include flex-column;
}

.skill {
    text-align: right;
}

.skill-bbl {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
  background-color: $not-yet-color;
  margin: 1px;
}

.learned {
  background-color: $learned-color;
}

.in-progress {
  background-color: $ip-color;
}

.key {
  @include flex-justify-center;
  @include flex-align-center;
}

.key-bbl {
  margin: 5px;
  @include flex-align-center;
}

.divider {
  margin: 25px 0;
  width: 100%;
  height: 60px;
  display: block;
  background-image: url('/assets/divider.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

//Contact Me
#contact-me {
  padding-bottom: $nav-height;
  @include flex-align-center;

  h1 {
    margin: 15px;
  }
}

.contact-btns {
  width: 30%;
}

.contact-btn {
  background-color: transparent;
  text-decoration: none;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  border: 2px solid;
  @include inline-flex-box;
  @include flex-align-center;
  @include flex-justify-center;

  img {
    height: 32px;
    display: inline-block;
  }

  .hover {
    display: none;
  }

  &:hover{
    background-color: black;

    .hover {
      display: inline-block;
    }

    .not-hover {
      display:none;
    }
  }
}

.email {
  font-family: 'Sacramento', cursive;
  color: $purple;
  border-color: $purple;
  font-size: 40pt;

  &:hover {
    color: $back-color;
    background-color: $purple;
  }
}

.github {
  border-color: black;
}

.linkedin {
  border-color: $linkedin-blue;

  &:hover {
    background-color: $linkedin-blue;
  }
}

.foot-bar {
  text-align: right;
  background-color: $resume-color;
  padding-right: 20px;
}
